.hidedSidebar {
	> aside {
		width: 3.8rem;
		flex-grow: 0;

		> nav {
			> div:first-child {
				@apply transition-opacity;
				opacity: 0;
				transition: opacity 0.35s;
			}
		}
	}

	> div {
		@apply w-full;
	}
}

.showedSidebar {
	> aside {
		width: var(--sidebar-width);
	}
}

.initialSidebar > aside {
	transition: width 0.35s;
}
