@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--sidebar-width: 15rem;
}

body {
	font-family: Arial, Helvetica, sans-serif;

	@apply text-white bg-bg text-lg;
}

@layer utilities {
	.grid_4_cols {
		@apply grid grid-cols-4 gap-4;
	}
}
