@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--sidebar-width: 15rem;
}

body {
	font-family: Arial, Helvetica, sans-serif;

	@apply text-white bg-bg text-lg;
}

@layer utilities {
	.grid_4_cols {
		@apply grid grid-cols-4 gap-4;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 1000px transparent inset;
	box-shadow: 0 0 0 1000px transparent inset;
	-webkit-text-fill-color: white;
	transition: background-color 9999s ease-in-out 0s;
}
